API_URL=
REOWN_PROJECT_ID= 
INFURA_KEY= 
WEB3AUTH_CLIENT_ID= 
CDN_BASE_URL= 
APP_ORIGIN= 
LEGACY_APP_ORIGIN=
WEBSOCKET_URL= 
LIVEPEER_API_KEY= 
AUTH_PROVIDER=
DEBUG=
TENOR_API_KEY=
PIMLICO_API_KEY=
STRIPE_PUBLISHABLE_KEY=
SUPABASE_EDGE_BASE_URL=https://xxxx.supabase.co/functions/v1